<div class="page-header">
  <h1>Dashboard</h1>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Sidebar</li>
          <li><%= link_to "Import", "#import", data: {anchor: "#import"} %></li>
            <ul>
              <li><%= link_to "Contacts", "#import-contacts", data: {anchor: "#import-contacts"}  %></li>
              <li><%= link_to "Schools", "#import-schools", data: {anchor: "#import-schools"}   %></li>
              <li><%= link_to "Districts", "#import-districts", data: {anchor: "#import-districts"}   %></li>
            </ul>
          <li><%= link_to "Export", "#export", data: {anchor: "#export"} %></li>
            <ul>
              <li><%= link_to "Contacts", "#export-contacts", data: {anchor: "#export-contacts"}  %></li>
              <li><%= link_to "Schools", "#export-schools", data: {anchor: "#export-schools"}   %></li>
              <li><%= link_to "Districts", "#export-districts", data: {anchor: "#export-districts"}   %></li>
            </ul>
          <li><%= link_to "User", "#user", data: {anchor: "#user"} %></li>
            <ul>
              <li><%= link_to "Master", "#user-master", data: {anchor: "#user-master"}  %></li>
              <li><%= link_to "Contact Editing", "#user-contact-editing", data: {anchor: "#user-contact-editing"}   %></li>
              <li><%= link_to "Data Entry", "#user-data-entry", data: {anchor: "#user-data-entry"}   %></li>
            </ul>
          <li><%= link_to "Filter", "#filter", data: {anchor: "#filter"} %></li>
            <ul>
              <li><%= link_to "Contacts", "#filter-contacts", data: {anchor: "#filter-contacts"}  %></li>
              <li><%= link_to "Schools", "#filter-schools", data: {anchor: "#filter-schools"}   %></li>
              <li><%= link_to "Districts", "#filter-districts", data: {anchor: "#filter-districts"}   %></li>
            </ul>
        </ul>
      </div><!--/.well -->
    </div>
    <div class="span9">
      <div id="import">
        <h2>Import</h2>
        <p>For best results, add records in the following order</p>

        <ol>
        <li>Districts</li>
        <li>Schools</li>
        <h5>Add below fields inidividually before importing contacts</h5>
        <ul>
          <li>Equivalent Terms</li>
          <li>Neglected Terms</li>
          <li>Acceptable Contact Salutations</li>
          <li>Acceptable Contact Positions</li>
          <li>Acceptable Contact Roles</li>
        </ul>
        <li>Contacts</li>
        </ol>

        <div id="import-contacts">
          <h3>Contacts</h3>

          <p>Find a list of allowable fields <%= link_to "here", new_contact_import_path %>.</p>
        </div>

        <hr>
        
        <div id="import-schools">
          <h3>Schools</h3>
          <p>Find a list of allowable fields <%= link_to "here", new_school_import_path %>.</p>
        </div>

        <hr>
        
        <div id="import-districts">
          <h3>Districts</h3>
          <p>Find a list of allowable fields <%= link_to "here", new_district_import_path %>.</p>
        </div>
      </div>
      <hr>
      <div id="export">
        <h2>Export</h2>
        <p>The export function is not handled in a separate controller.</p>
        <div id="export-contacts">
          <h3>Contacts</h3>
          <p>Currently all fields are exported according to the results of the filters with a limit of 25 fields.</p>
        </div>  
        <hr>      
        <div id="export-schools">
          <h3>Schools</h3>
          <p>Currently all fields are exported according to the results of the filters with a limit of 25 fields.</p>
        </div> 
        <hr>       
        <div id="export-districts">
          <h3>Districts</h3>
          <p>Currently all fields are exported according to the results of the filters with a limit of 25 fields.</p>
        </div>
      </div>
      <hr>
      <div id="user">
        <h2>Users</h2>
        <p>Master User is created upon migration of the database with master@example.com</p>
        <div id="user-master">
          <h3>Master</h3>
          <p>Master has access to all actions from the following resources:</p>
          <pre>
            :users
            :contacts
            :contact_imports
            :schools
            :school_imports
            :districts
            :district_imports
            :acceptable_contact_roles
            :acceptable_contact_positions
            :acceptable_contact_salutations
          </pre>
        </div>
        <hr>
        <div id="user-contact-editing">
          <h3>Contact Editing</h3>
          <p>Contact Editing has access to the following actions from the following resources:</p>
          <pre>
            :contacts
              index -> only list of incomplete records where at least one field is missing with a limit of 10
              show -> only contacts that have incomplete records
              update -> only fields that are blank
          </pre>
        </div>
        <hr>
        <div id="user-data-entry">
          <h3>Data Entry</h3>
          <p>Data Entry has access to the following actions from the following resources:</p>
          <pre>
            :contacts
              create -> will not be able to view created items, unless ownership relations are made
          </pre>
        </div>
      </div>
      <hr>
      <div id="filter">
        <h2>Filter</h2>
        <p>Filters consist of selects for exact matches, search fields for %like% matches, and greater than or equal to and/or less than or equal to for numeric fields.</p>
        <div id="filter-contacts">
          <h3>Contact</h3>
          <p>The following list shows the types of filters:
          <pre>
            :fname -> contains
            :lname -> contains
            :email -> contains
            :salutation -> equals list from AcceptableContactSalutation model
            :position -> equals list from AcceptableContactPosition model
            :role -> equals list from AcceptableContactRole model
            :school_id -> equals list from School model
            :school_district_id -> equals list from District model through School model
            :reference_url -> contains
            :updated_by -> contains
          </pre>
        </div>  
        <hr>      
        <div id="filter-schools">
          <h3>School</h3>
          <p>The following list shows the types of filters:
          <p><span class="label label-warning">The :student_teacher_ratio field is a string field and only allows contains filters.</span></p>
          <pre>
            :state -> equals list of states created in helper method
            :district_name -> equals list from District model
            :name -> contains
            :state_rank -> greater than or equal to and/or less than or equal to
            :national_rank -> greater than or equal to and/or less than or equal to
            :college_readiness_score -> greater than or equal to and/or less than or equal to
            :tested_ap_ib ->mgreater than or equal to and/or less than or equal to
            :pass_ap_ib -> greater than or equal to and/or less than or equal to
            :math_score -> greater than or equal to and/or less than or equal to
            :math_proficient -> greater than or equal to and/or less than or equal to
            :math_not_proficient -> greater than or equal to and/or less than or equal to
            :reading_score -> greater than or equal to and/or less than or equal to
            :reading_proficient -> greater than or equal to and/or less than or equal to
            :reading_not_proficient -> greater than or equal to and/or less than or equal to
            :student_teacher_ratio -> contains
            :total_enrollment -> greater than or equal to and/or less than or equal to
            :total_economically_disadvantaged -> greater than or equal to and/or less than or equal to
            :receives_title_i_funding -> true or false
            :ap_student_performance_participation_rate -> greater than or equal to and/or less than or equal to
            :ap_student_performance_participant_passing_rate -> greater than or equal to and/or less than or equal to
            :ap_student_performance_exam_per_test_taker -> greater than or equal to and/or less than or equal to
            :ap_student_performance_exam_pass_rate -> greater than or equal to and/or less than or equal to
          </pre>
        </div>  
        <hr>      
        <div id="filter-districts">
          <h3>Districts</h3>
          <p>The following list shows the types of filters:
          <pre>
            :state -> equals list of states created in helper method
            :name -> contains
            :college_readiness_score -> greater than or equal to and/or less than or equal to
            :tested_ap -> greater than or equal to and/or less than or equal to
            :passed_ap -> greater than or equal to and/or less than or equal to
            :math_score -> greater than or equal to and/or less than or equal to
            :math_proficient -> greater than or equal to and/or less than or equal to
            :math_not_proficient -> greater than or equal to and/or less than or equal to
            :reading_score -> greater than or equal to and/or less than or equal to
            :reading_proficient -> greater than or equal to and/or less than or equal to
            :reading_not_proficient -> greater than or equal to and/or less than or equal to
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>