<% if @district_import.errors.any? %>
  <div class="alert fade in alert-error"><button class="close" data-dismiss="alert">×</button>
    <p><%= pluralize(@district_import.errors.count, "error") %> prohibited this import from completing:</p>
    <ul>
    <% @district_import.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>District Import</h1>

<p>A CSV or Excel file can be used to import records. The first row should be the column name. The following columns are allowed.</p>

<ul>
<li><strong>id</strong> - Integer type: <code>first if id present? update else new</code></li>
<li><strong>name</strong><span class="required"></span> - String type: <code>second if name present? update else new</code></li>
<li><strong>state</strong><span class="required"></span> - String type</li>
<li><strong>college_readiness_score</strong> - Float type: <code>connverts strings from allowed list to float</code></li>
<li><strong>tested_ap</strong> - Float type: <code>connverts strings from allowed list to float</code><</li>
<li><strong>passed_ap</strong> - Float type: <code>connverts strings from allowed list to float</code><</li>
<li><strong>math_score</strong> - Float type: <code>connverts strings from allowed list to float</code><</li>
<li><strong>math_proficient</strong> - Float type: <code>connverts strings from allowed list to float</code><</li>
<li><strong>math_not_proficient</strong> - Float type: <code>connverts strings from allowed list to float</code><</li>
<li><strong>reading_score</strong> - Float type: <code>connverts strings from allowed list to float</code><</li>
<li><strong>reading_proficient</strong> - Float type: <code>connverts strings from allowed list to float</code><</li>
<li><strong>reading_not_proficient</strong> - Float type: <code>connverts strings from allowed list to float</code><</li>
<li><strong>created_at</strong> - Datetime type</li>
<li><strong>updated_at</strong> - Datetime type</li>
</ul>

<h4>Required Items</h4>
<p>Items starred with a red asterisk <span class="required"></span> are required</p>

<h4>Allowed List</h4>
<ul>
  <li>"N/A" converts into <code>10000</code></li>
  <li>"Does" converts into <code>10001</code></li>
  <li>"Achieves" converts into <code>10002</code></li>
</ul>


<%= form_for @district_import do |f| %>
  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import", class: "btn btn-default" %></div>
<% end %>