<%= form_for @district, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @district.errors.any? %>
    <div class="alert fade in alert-error"><button class="close" data-dismiss="alert">×</button>
      <p><%= pluralize(@district.errors.count, "error") %> prohibited this district from being saved:</p>

      <ul>
      <% @district.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :state, "State", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :state, us_states, prompt: :blank %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, "Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :college_readiness_score, "College Readiness Score", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :college_readiness_score, :class => 'number_field', step: 0.1 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tested_ap, "% Tested AP", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :tested_ap, :class => 'number_field', step: 0.1 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :passed_ap, "% Passed AP", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :passed_ap, :class => 'number_field', step: 0.1 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :math_score, "Math Score", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :math_score, :class => 'number_field', step: 0.1 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :math_proficient, "Math Proficient %", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :math_proficient, :class => 'number_field', step: 0.1 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :math_not_proficient, "Math Not Proficient %", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :math_not_proficient, :class => 'number_field', step: 0.1 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reading_score, "Reading Score", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :reading_score, :class => 'number_field', step: 0.1 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reading_proficient, "Reading Proficient %", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :reading_proficient, :class => 'number_field', step: 0.1 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reading_not_proficient, "Reading Not Proficient %", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :reading_not_proficient, :class => 'number_field', step: 0.1 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                districts_path, :class => 'btn' %>
  </div>
<% end %>
