<%- model_class = District -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @search, :state, "State", {}, data: { toggle: :tooltip, placement: :top, title: "State" } %></th>
      <th><%= sort_link @search, :name, "Name", {}, data: { toggle: :tooltip, placement: :top, title: "District Name" } %></th>
      <th class="span1"><%= sort_link @search, :college_readiness_score, "CRS", {}, data: { toggle: :tooltip, placement: :top, title: "College Readiness Score" } %></th>
      <th class="span1"><%= sort_link @search, :tested_ap, "TAP", {}, data: { toggle: :tooltip, placement: :top, title: "% Tested AP" } %></th>
      <th class="span1"><%= sort_link @search, :passed_ap, "PAP", {}, data: { toggle: :tooltip, placement: :top, title: "% Passed AP" } %></th>
      <th class="span1"><%= sort_link @search, :math_score, "MS", {}, data: { toggle: :tooltip, placement: :top, title: "Math Score" } %></th>
      <th class="span1"><%= sort_link @search, :math_proficient, "MP", {}, data: { toggle: :tooltip, placement: :top, title: "Math Proficient %" } %></th>
      <th class="span1"><%= sort_link @search, :math_not_proficient, "MnP", {}, data: { toggle: :tooltip, placement: :top, title: "Math Not Proficient %" } %></th>
      <th class="span1"><%= sort_link @search, :reading_score, "RS", {}, data: { toggle: :tooltip, placement: :top, title: "Reading Score" } %></th>
      <th class="span1"><%= sort_link @search, :reading_proficient, "RP", {}, data: { toggle: :tooltip, placement: :top, title: "Reading Proficient %" } %></th>
      <th class="span1"><%= sort_link @search, :reading_not_proficient, "RnP", {}, data: { toggle: :tooltip, placement: :top, title: "Reading Not Proficient %" } %></th>
      <th><%= sort_link @search, :created_at, "Created", {}, data: { toggle: :tooltip, placement: :top, title: "State" } %></th>
      <th class="span2"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
    <tr>
    <%= search_form_for @search do |f| %>
      <th><%= f.text_field :state_cont, placeholder: "contains" %></th>
      <th><%= f.text_field :name_cont, placeholder: "contains" %></th>
      <th>
        <%= f.number_field :college_readiness_score_gteq, placeholder: ">=", step: 0.1 %>
        <%= f.number_field :college_readiness_score_lteq, placeholder: "<=", step: 0.1 %>
      </th>      
      <th>
        <%= f.number_field :tested_ap_gteq, placeholder: ">=" %>
        <%= f.number_field :tested_ap_lteq, placeholder: "<=" %>
      </th>      
      <th>
        <%= f.number_field :passed_ap_gteq, placeholder: ">=" %>
        <%= f.number_field :passed_ap_lteq, placeholder: "<=" %>
      </th>      
      <th>
        <%= f.number_field :math_score_gteq, placeholder: ">=", step: 0.1 %>
        <%= f.number_field :math_score_lteq, placeholder: "<=", step: 0.1 %>
      </th>      
      <th>
        <%= f.number_field :math_proficient_gteq, placeholder: ">=" %>
        <%= f.number_field :math_proficient_lteq, placeholder: "<=" %>
      </th>      
      <th>
        <%= f.number_field :math_not_proficient_gteq, placeholder: ">=" %>
        <%= f.number_field :math_not_proficient_lteq, placeholder: "<=" %>
      </th>      
      <th>
        <%= f.number_field :reading_score_gteq, placeholder: ">=", step: 0.1 %>
        <%= f.number_field :reading_score_lteq, placeholder: "<=", step: 0.1 %>
      </th>      
      <th>
        <%= f.number_field :reading_proficient_gteq, placeholder: ">=" %>
        <%= f.number_field :reading_proficient_lteq, placeholder: "<=" %>
      </th>      
      <th>
        <%= f.number_field :reading_not_proficient_gteq, placeholder: ">=" %>
        <%= f.number_field :reading_not_proficient_lteq, placeholder: "<=" %>
      </th>
      <th></th>
      <th>
        <%= f.submit "Search", class: "btn btn-info" %>
        <%= link_to "Clear", contacts_path, class: "btn btn-warning" %>
      </th>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><%= district.state %></td>
        <td><%= link_to district.name, district_path(district) %></td>
        <td><%= district.college_readiness_score %></td>
        <td><%= number_to_percentage district.tested_ap, precision: 0 %></td>
        <td><%= number_to_percentage district.passed_ap, precision: 0 %></td>
        <td><%= district.math_score %></td>
        <td><%= number_to_percentage district.math_proficient, precision: 0 %></td>
        <td><%= number_to_percentage district.math_not_proficient, precision: 0 %></td>
        <td><%= district.reading_score %></td>
        <td><%= number_to_percentage district.reading_proficient, precision: 0 %></td>
        <td><%= number_to_percentage district.reading_not_proficient, precision: 0 %></td>
        <td><%= district.created_at.strftime("%B %d, %Y") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_district_path(district), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      district_path(district),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @districts, :theme => 'twitter-bootstrap' %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_district_path,
            :class => 'btn btn-primary' %>

<%= link_to "Import Districts", new_district_import_path, class: "btn btn-default" %>
