<div class="page-header">
  <h2>District of <%= @district.name %></h2>
</div>

<div class="row">
  <span class="label ml30">District Details</span>
  <dl class="dl-horizontal medium">
    <dt><strong>State</strong></dt>
    <dd><%= @district.state %></dd>
    <dt><strong>College Readiness Score</strong></dt>
    <dd><%= @district.college_readiness_score %></dd>
    <dt><strong>% Tested AP</strong></dt>
    <dd><%= @district.tested_ap %></dd>
    <dt><strong>% Passed AP</strong></dt>
    <dd><%= @district.passed_ap %></dd>
    <dt><strong>Math Score</strong></dt>
    <dd><%= @district.math_score %></dd>
    <dt><strong>Math Proficient %</strong></dt>
    <dd><%= @district.math_proficient %></dd>
    <dt><strong>Math Not Proficient %</strong></dt>
    <dd><%= @district.math_not_proficient %></dd>
    <dt><strong>Reading Score</strong></dt>
    <dd><%= @district.reading_score %></dd>
    <dt><strong>Reading Proficient %</strong></dt>
    <dd><%= @district.reading_proficient %></dd>
    <dt><strong>Reading Not Proficient %</strong></dt>
    <dd><%= @district.reading_not_proficient %></dd>
  </dl>
</div>

<table class="table table-striped">
<span class="label">Schools in District</span>
  <thead>
    <tr>
      <th><%= link_to "State", "#", data: { toggle: :tooltip, placement: :top, title: "State" } %></th>
      <th><%= link_to "Name", "#", data: { toggle: :tooltip, placement: :top, title: "School Name" } %></th>
      <th><%= link_to "SR", "#", data: { toggle: :tooltip, placement: :top, title: "State Rank" } %></th>
      <th><%= link_to "NR", "#", data: { toggle: :tooltip, placement: :top, title: "National Rank" } %></th>
      <th><%= link_to "CRS", "#", data: { toggle: :tooltip, placement: :top, title: "College Readiness Score" } %></th>
      <th><%= link_to "TIB", "#", data: { toggle: :tooltip, placement: :top, title: "% Tested AP/IB" } %></th>
      <th><%= link_to "PIB", "#", data: { toggle: :tooltip, placement: :top, title: "% Passed AP/IB" } %></th>
      <th><%= link_to "MS", "#", data: { toggle: :tooltip, placement: :top, title: "Math Score" } %></th>
      <th><%= link_to "MP", "#", data: { toggle: :tooltip, placement: :top, title: "Math Proficient %" } %></th>
      <th><%= link_to "MnP", "#", data: { toggle: :tooltip, placement: :top, title: "Math Not Proficient %" } %></th>
      <th><%= link_to "RS", "#", data: { toggle: :tooltip, placement: :top, title: "Reading Score" } %></th>
      <th><%= link_to "RP", "#", data: { toggle: :tooltip, placement: :top, title: "Reading Proficient %" } %></th>
      <th><%= link_to "RnP", "#", data: { toggle: :tooltip, placement: :top, title: "Reading Not Proficient %" } %></th>
      <th><%= link_to "STR", "#", data: { toggle: :tooltip, placement: :top, title: "Student/Teacher Ratio" } %></th>
      <th><%= link_to "TE", "#", data: { toggle: :tooltip, placement: :top, title: "Total Enrollment" } %></th>
      <th><%= link_to "TED", "#", data: { toggle: :tooltip, placement: :top, title: "Total Economically Disadvantaged" } %></th>
      <th><%= link_to "RTIF", "#", data: { toggle: :tooltip, placement: :top, title: "Receives Title I Funding" } %></th>
      <th><%= link_to "PR", "#", data: { toggle: :tooltip, placement: :top, title: "AP Student Performance: Participation Rate" } %></th>
      <th><%= link_to "PPR", "#", data: { toggle: :tooltip, placement: :top, title: "AP Student Performance: Participant Passing Rate" } %></th>
      <th><%= link_to "EPT", "#", data: { toggle: :tooltip, placement: :top, title: "AP Student Performance: Exam Per Test Taker" } %></th>
      <th><%= link_to "EPR", "#", data: { toggle: :tooltip, placement: :top, title: "AP Student Performance: Exam Pass Rate" } %></th>
      <th><%= link_to "Updated", "#", data: { toggle: :tooltip, placement: :top, title: "Updated At" } %></th>
    </tr>
  </thead>
  <tbody>
  <% @district.schools.each do |school| %>
    <tr>      
      <td><%= school.state %></td>
      <td><%= link_to school.name, school_path(school) %></td>
      <td><%= school.state_rank %></td>
      <td><%= school.national_rank %></td>
      <td><%= school.college_readiness_score %></td>
      <td><%= school.tested_ap_ib %></td>
      <td><%= school.pass_ap_ib %></td>
      <td><%= school.math_score %></td>
      <td><%= school.math_proficient %></td>
      <td><%= school.math_not_proficient %></td>
      <td><%= school.reading_score %></td>
      <td><%= school.reading_proficient %></td>
      <td><%= school.reading_not_proficient %></td>
      <td><%= school.student_teacher_ratio %></td>
      <td><%= school.total_enrollment %></td>
      <td><%= school.total_economically_disadvantaged %></td>
      <td><%= school.receives_title_i_funding %></td>
      <td><%= school.ap_student_performance_participation_rate %></td>
      <td><%= school.ap_student_performance_participant_passing_rate %></td>
      <td><%= school.ap_student_performance_exam_per_test_taker %></td>
      <td><%= school.ap_student_performance_exam_pass_rate %></td>
      <td><%= school.updated_at.strftime("%B %d, %Y") %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              districts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_district_path(@district), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              district_path(@district),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
