<%- model_class = District -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>State</strong></dt>
  <dd><%= @district.state %></dd>
  <dt><strong>Name</strong></dt>
  <dd><%= @district.name %></dd>
  <dt><strong>College Readiness Score</strong></dt>
  <dd><%= @district.college_readiness_score %></dd>
  <dt><strong>% Tested AP</strong></dt>
  <dd><%= @district.tested_ap %></dd>
  <dt><strong>% Passed AP</strong></dt>
  <dd><%= @district.passed_ap %></dd>
  <dt><strong>Math Score</strong></dt>
  <dd><%= @district.math_score %></dd>
  <dt><strong>Math Proficient %</strong></dt>
  <dd><%= @district.math_proficient %></dd>
  <dt><strong>Math Not Proficient %</strong></dt>
  <dd><%= @district.math_not_proficient %></dd>
  <dt><strong>Reading Score</strong></dt>
  <dd><%= @district.reading_score %></dd>
  <dt><strong>Reading Proficient %</strong></dt>
  <dd><%= @district.reading_proficient %></dd>
  <dt><strong>Reading Not Proficient %</strong></dt>
  <dd><%= @district.reading_not_proficient %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              districts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_district_path(@district), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              district_path(@district),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
