<%- model_class = School -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @search, :state, "State", {}, data: { toggle: :tooltip, placement: :top, title: "State" } %></th>
      <th><%= sort_link @search, :district_name, "District", {}, data: { toggle: :tooltip, placement: :top, title: "District Name" } %></th> 
      <th><%= sort_link @search, :name, "Name", {}, data: { toggle: :tooltip, placement: :top, title: "School Name" } %></th>
      <th><%= sort_link @search, :state_rank, "SR", {}, data: { toggle: :tooltip, placement: :top, title: "State Rank" } %></th>
      <th><%= sort_link @search, :national_rank, "NR", {}, data: { toggle: :tooltip, placement: :top, title: "National Rank" } %></th>
      <th><%= sort_link @search, :college_readiness_score, "CRS", {}, data: { toggle: :tooltip, placement: :top, title: "College Readiness Score" } %></th>
      <th><%= sort_link @search, :tested_ap_ib, "TAPIB", {}, data: { toggle: :tooltip, placement: :top, title: "% Tested AP/IB" } %></th>
      <th><%= sort_link @search, :pass_ap_ib, "PAPIB", {}, data: { toggle: :tooltip, placement: :top, title: "% Passed AP/IB" } %></th>
      <th><%= sort_link @search, :math_score, "MS", {}, data: { toggle: :tooltip, placement: :top, title: "Math Score" } %></th>
      <th><%= sort_link @search, :math_proficient, "MP", {}, data: { toggle: :tooltip, placement: :top, title: "Math Proficient %" } %></th>
      <th><%= sort_link @search, :math_not_proficient, "MnP", {}, data: { toggle: :tooltip, placement: :top, title: "Math Not Proficient %" } %></th>
      <th><%= sort_link @search, :reading_score, "RS", {}, data: { toggle: :tooltip, placement: :top, title: "Reading Score" } %></th>
      <th><%= sort_link @search, :reading_proficient, "RP", {}, data: { toggle: :tooltip, placement: :top, title: "Reading Proficient %" } %></th>
      <th><%= sort_link @search, :reading_not_proficient, "RnP", {}, data: { toggle: :tooltip, placement: :top, title: "Reading Not Proficient %" } %></th>
      <th><%= sort_link @search, :student_teacher_ratio, "STR", {}, data: { toggle: :tooltip, placement: :top, title: "Student/Teacher Ratio" } %></th>
      <th><%= sort_link @search, :total_enrollment, "TE", {}, data: { toggle: :tooltip, placement: :top, title: "Total Enrollment" } %></th>
      <th><%= sort_link @search, :total_economically_disadvantaged, "TED", {}, data: { toggle: :tooltip, placement: :top, title: "Total Economically Disadvantaged" } %></th>
      <th><%= sort_link @search, :receives_title_i_funding, "RTIF", {}, data: { toggle: :tooltip, placement: :top, title: "Receives Title I Funding" } %></th>
      <th><%= sort_link @search, :ap_student_performance_participation_rate, "PR", {}, data: { toggle: :tooltip, placement: :top, title: "AP Student Performance: Participation Rate" } %></th>
      <th><%= sort_link @search, :ap_student_performance_participant_passing_rate, "PPR", {}, data: { toggle: :tooltip, placement: :top, title: "AP Student Performance: Participant Passing Rate" } %></th>
      <th><%= sort_link @search, :ap_student_performance_exam_per_test_taker, "EPTT", {}, data: { toggle: :tooltip, placement: :top, title: "AP Student Performance: Exam Per Test Taker" } %></th>
      <th><%= sort_link @search, :ap_student_performance_exam_pass_rate, "EPR", {}, data: { toggle: :tooltip, placement: :top, title: "AP Student Performance: Exam Pass Rate" } %></th>
      <th><%= sort_link @search, :created_at, "Created", {}, data: { toggle: :tooltip, placement: :top, title: "Created At" } %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.state %></td>
        <td><%= school.district.name if school.district.present? %></td>
        <td><%= link_to school.name, school_path(school) %></td>
        <td><%= school.state_rank %></td>
        <td><%= school.national_rank %></td>
        <td><%= school.college_readiness_score %></td>
        <td><%= number_to_percentage school.tested_ap_ib, precision: 0 %></td>
        <td><%= number_to_percentage school.pass_ap_ib, precision: 0 %></td>
        <td><%= school.math_score %></td>
        <td><%= number_to_percentage school.math_proficient, precision: 0 %></td>
        <td><%= number_to_percentage school.math_not_proficient, precision: 0 %></td>
        <td><%= school.reading_score %></td>
        <td><%= number_to_percentage school.reading_proficient, precision: 0 %></td>
        <td><%= number_to_percentage school.reading_not_proficient, precision: 0 %></td>
        <td><%= school.student_teacher_ratio %></td>
        <td><%= school.total_enrollment %></td>
        <td><%= number_to_percentage school.total_economically_disadvantaged, precision: 0 %></td>
        <td><%= school.receives_title_i_funding %></td>
        <td><%= number_to_percentage school.ap_student_performance_participation_rate, precision: 0 %></td>
        <td><%= number_to_percentage school.ap_student_performance_participant_passing_rate, precision: 0 %></td>
        <td><%= school.ap_student_performance_exam_per_test_taker %></td>
        <td><%= number_to_percentage school.ap_student_performance_exam_pass_rate, precision: 0 %></td>
        <td><%= school.created_at.strftime("%B %d, %Y") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_school_path(school), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      school_path(school),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_school_path,
            :class => 'btn btn-primary' %>

<%= link_to "Import Schools", new_school_import_path, class: "btn btn-default" %>
