<%- model_class = School -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @search, :state, "State", {}, data: { toggle: :tooltip, placement: :top, title: "State" } %></th>
      <th><%= sort_link @search, :district_name, "District", {}, data: { toggle: :tooltip, placement: :top, title: "District Name" } %></th> 
      <th><%= sort_link @search, :name, "Name", {}, data: { toggle: :tooltip, placement: :top, title: "School Name" } %></th>
      <th class="span1"><%= sort_link @search, :state_rank, "SR", {}, data: { toggle: :tooltip, placement: :top, title: "State Rank" } %></th>
      <th class="span1"><%= sort_link @search, :national_rank, "NR", {}, data: { toggle: :tooltip, placement: :top, title: "National Rank" } %></th>
      <th class="span1"><%= sort_link @search, :college_readiness_score, "CRS", {}, data: { toggle: :tooltip, placement: :top, title: "College Readiness Score" } %></th>
      <th class="span1"><%= sort_link @search, :tested_ap_ib, "TIB", {}, data: { toggle: :tooltip, placement: :top, title: "% Tested AP/IB" } %></th>
      <th class="span1"><%= sort_link @search, :pass_ap_ib, "PIB", {}, data: { toggle: :tooltip, placement: :top, title: "% Passed AP/IB" } %></th>
      <th class="span1"><%= sort_link @search, :math_score, "MS", {}, data: { toggle: :tooltip, placement: :top, title: "Math Score" } %></th>
      <th class="span1"><%= sort_link @search, :math_proficient, "MP", {}, data: { toggle: :tooltip, placement: :top, title: "Math Proficient %" } %></th>
      <th class="span1"><%= sort_link @search, :math_not_proficient, "MnP", {}, data: { toggle: :tooltip, placement: :top, title: "Math Not Proficient %" } %></th>
      <th class="span1"><%= sort_link @search, :reading_score, "RS", {}, data: { toggle: :tooltip, placement: :top, title: "Reading Score" } %></th>
      <th class="span1"><%= sort_link @search, :reading_proficient, "RP", {}, data: { toggle: :tooltip, placement: :top, title: "Reading Proficient %" } %></th>
      <th class="span1"><%= sort_link @search, :reading_not_proficient, "RnP", {}, data: { toggle: :tooltip, placement: :top, title: "Reading Not Proficient %" } %></th>
      <th class="span1"><%= sort_link @search, :student_teacher_ratio, "STR", {}, data: { toggle: :tooltip, placement: :top, title: "Student/Teacher Ratio" } %></th>
      <th class="span1"><%= sort_link @search, :total_enrollment, "TE", {}, data: { toggle: :tooltip, placement: :top, title: "Total Enrollment" } %></th>
      <th class="span1"><%= sort_link @search, :total_economically_disadvantaged, "TED", {}, data: { toggle: :tooltip, placement: :top, title: "Total Economically Disadvantaged" } %></th>
      <th class="span2"><%= sort_link @search, :receives_title_i_funding, "RTIF", {}, data: { toggle: :tooltip, placement: :top, title: "Receives Title I Funding" } %></th>
      <th class="span1"><%= sort_link @search, :ap_student_performance_participation_rate, "PR", {}, data: { toggle: :tooltip, placement: :top, title: "AP Student Performance: Participation Rate" } %></th>
      <th class="span1"><%= sort_link @search, :ap_student_performance_participant_passing_rate, "PPR", {}, data: { toggle: :tooltip, placement: :top, title: "AP Student Performance: Participant Passing Rate" } %></th>
      <th class="span1"><%= sort_link @search, :ap_student_performance_exam_per_test_taker, "EPT", {}, data: { toggle: :tooltip, placement: :top, title: "AP Student Performance: Exam Per Test Taker" } %></th>
      <th class="span1"><%= sort_link @search, :ap_student_performance_exam_pass_rate, "EPR", {}, data: { toggle: :tooltip, placement: :top, title: "AP Student Performance: Exam Pass Rate" } %></th>
      <th class="span1"><%= sort_link @search, :contacts_count, "Con", data: { toggle: :tooltip, placement: :top, title: "Number of Contacts in School" } %></th>
      <th>Updated</th>
      <th class="span2"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
    <tr>
    <%= search_form_for @search do |f| %>
      <th><%= f.select :state_eq, us_states, prompt: :blank %></th>
      <th><%= f.collection_select :district_id_eq, District.order(:name), :id, :name, prompt: :blank %></th>
      <th><%= f.text_field :name_cont, placeholder: "contains" %></th>
      <th>
        <%= f.number_field :state_rank_gteq, placeholder: ">=" %>
        <%= f.number_field :state_rank_lteq, placeholder: "<=" %>
      </th>
      <th>
        <%= f.number_field :national_rank_gteq, placeholder: ">=" %>
        <%= f.number_field :national_rank_lteq, placeholder: "<=" %>
      </th>
      <th>
        <%= f.number_field :college_readiness_score_gteq, placeholder: ">=", step: 0.1 %>
        <%= f.number_field :college_readiness_score_lteq, placeholder: "<=", step: 0.1 %>
      </th>
      <th>
        <%= f.number_field :tested_ap_ib_gteq, placeholder: ">=" %>
        <%= f.number_field :tested_ap_ib_lteq, placeholder: "<=" %>
      </th>
      <th>
        <%= f.number_field :pass_ap_ib_gteq, placeholder: ">=" %>
        <%= f.number_field :pass_ap_ib_lteq, placeholder: "<=" %>
      </th>
      <th>
        <%= f.number_field :math_score_gteq, placeholder: ">=", step: 0.1 %>
        <%= f.number_field :math_score_lteq, placeholder: "<=", step: 0.1 %>
      </th>
      <th>
        <%= f.number_field :math_proficient_gteq, placeholder: ">=" %>
        <%= f.number_field :math_proficient_lteq, placeholder: "<=" %>
      </th>
      <th>
        <%= f.number_field :math_not_proficient_gteq, placeholder: ">=" %>
        <%= f.number_field :math_not_proficient_lteq, placeholder: "<=" %>
      </th>
      <th>
        <%= f.number_field :reading_score_gteq, placeholder: ">=", step: 0.1 %>
        <%= f.number_field :reading_score_lteq, placeholder: "<=", step: 0.1 %>
      </th>
      <th>
        <%= f.number_field :reading_proficient_gteq, placeholder: ">=" %>
        <%= f.number_field :reading_proficient_lteq, placeholder: "<=" %>
      </th>
     <th>
        <%= f.number_field :reading_not_proficient_gteq, placeholder: ">=" %>
        <%= f.number_field :reading_not_proficient_lteq, placeholder: "<=" %>
      </th>
     <th><%= f.text_field :student_teacher_ratio_cont, placeholder: "contains" %></th>
     <th>
        <%= f.number_field :total_enrollment_gteq, placeholder: ">=" %>
        <%= f.number_field :total_enrollment_lteq, placeholder: "<=" %>
      </th>
     <th>
        <%= f.number_field :total_economically_disadvantaged_gteq, placeholder: ">=" %>
        <%= f.number_field :total_economically_disadvantaged_lteq, placeholder: "<=" %>
      </th>
     <th>
        <%= f.select :receives_title_i_funding_eq, [true, false], prompt: :blank %>
      </th>
     <th>
        <%= f.number_field :ap_student_performance_participation_rate_gteq, placeholder: ">=" %>
        <%= f.number_field :ap_student_performance_participation_rate_lteq, placeholder: "<=" %>
      </th>
     <th>
        <%= f.number_field :ap_student_performance_participant_passing_rate_gteq, placeholder: ">=" %>
        <%= f.number_field :ap_student_performance_participant_passing_rate_lteq, placeholder: "<=" %>
      </th>
     <th>
        <%= f.number_field :ap_student_performance_exam_per_test_taker_gteq, placeholder: ">=", step: 0.1 %>
        <%= f.number_field :ap_student_performance_exam_per_test_taker_lteq, placeholder: "<=", step: 0.1 %>
      </th>
     <th>
        <%= f.number_field :ap_student_performance_exam_pass_rate_gteq, placeholder: ">=" %>
        <%= f.number_field :ap_student_performance_exam_pass_rate_lteq, placeholder: "<=" %>
      </th>
     <th></th>
     <th></th>
     <th>
        <%= f.submit "Search", class: "btn btn-info" %>
        <%= link_to "Clear", schools_path, class: "btn btn-warning" %>
      </th>

    <% end %><!-- end search form -->
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.state %></td>
        <td><%= school.district.name if school.district.present? %></td>
        <td><%= link_to school.name, school_path(school) %></td>
        <td><%= school.state_rank %></td>
        <td><%= school.national_rank %></td>
        <td><%= school.college_readiness_score %></td>
        <td><%= perc school.tested_ap_ib %></td>
        <td><%= perc school.pass_ap_ib %></td>
        <td><%= school.math_score %></td>
        <td><%= perc school.math_proficient %></td>
        <td><%= perc school.math_not_proficient %></td>
        <td><%= school.reading_score %></td>
        <td><%= perc school.reading_proficient %></td>
        <td><%= perc school.reading_not_proficient %></td>
        <td><%= school.student_teacher_ratio %></td>
        <td><%= school.total_enrollment %></td>
        <td><%= perc school.total_economically_disadvantaged %></td>
        <td><%= school.receives_title_i_funding %></td>
        <td><%= perc school.ap_student_performance_participation_rate %></td>
        <td><%= perc school.ap_student_performance_participant_passing_rate %></td>
        <td><%= school.ap_student_performance_exam_per_test_taker %></td>
        <td><%= perc school.ap_student_performance_exam_pass_rate %></td>
        <td><%= school.respond_to?('contacts_count') ? school.contacts_count : "0" %></td>
        <td><%= school.updated_at.strftime("%B %d, %Y") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_school_path(school), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      school_path(school),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @schools, :theme => 'twitter-bootstrap' %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_school_path,
            :class => 'btn btn-primary' %>

<%= link_to "Import Schools", new_school_import_path, class: "btn btn-success" %>
<%= link_to "Export Schools", schools_path(params.merge(format: "xls")), class: "btn btn-info" %>

