<%- model_class = School -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>State</strong></dt>
  <dd><%= @school.state %></dd>
  <dt><strong>District</strong></dt>
  <dd><%= @school.district.name if @school.district.present? %></dd>
  <dt><strong>School Name</strong></dt>
  <dd><%= @school.name %></dd>
  <dt><strong>State Rank</strong></dt>
  <dd><%= @school.state_rank %></dd>
  <dt><strong>National Rank</strong></dt>
  <dd><%= @school.national_rank %></dd>
  <dt><strong>College readiness Score</strong></dt>
  <dd><%= @school.college_readiness_score %></dd>
  <dt><strong>% Tested AP/IB</strong></dt>
  <dd><%= @school.tested_ap_ib %></dd>
  <dt><strong>% Passed AP/IB</strong></dt>
  <dd><%= @school.pass_ap_ib %></dd>
  <dt><strong>Math Score</strong></dt>
  <dd><%= @school.math_score %></dd>
  <dt><strong>Math Proficient %</strong></dt>
  <dd><%= @school.math_proficient %></dd>
  <dt><strong>Math Not Proficient %</strong></dt>
  <dd><%= @school.math_not_proficient %></dd>
  <dt><strong>Reading Score</strong></dt>
  <dd><%= @school.reading_score %></dd>
  <dt><strong>Reading Proficient %</strong></dt>
  <dd><%= @school.reading_proficient %></dd>
  <dt><strong>Reading not Proficient %</strong></dt>
  <dd><%= @school.reading_not_proficient %></dd>
  <dt><strong>Student/Teacher Ratio</strong></dt>
  <dd><%= @school.student_teacher_ratio %></dd>
  <dt><strong>Street Address</strong></dt>
  <dd><%= @school.street_address %></dd>
  <dt><strong>City</strong></dt>
  <dd><%= @school.city %></dd>
  <dt><strong>Zip</strong></dt>
  <dd><%= @school.zip %></dd>
  <dt><strong>Latitiude</strong></dt>
  <dd><%= @school.latitude %></dd>
  <dt><strong>Longitude</strong></dt>
  <dd><%= @school.longitude %></dd>
  <dt><strong>Total Enrollment</strong></dt>
  <dd><%= @school.total_enrollment %></dd>
  <dt><strong>Total Economically Disadvantaged</strong></dt>
  <dd><%= @school.total_economically_disadvantaged %></dd>
  <dt><strong>Receives Title I Funding</strong></dt>
  <dd><%= @school.receives_title_i_funding %></dd>
  <dt><strong>AP Student Performance Participation Rate</strong></dt>
  <dd><%= @school.ap_student_performance_participation_rate %></dd>
  <dt><strong>AP Student Performance Participation Passing Rate</strong></dt>
  <dd><%= @school.ap_student_performance_participant_passing_rate %></dd>
  <dt><strong>AP Student Performance Exam Per Test Taker</strong></dt>
  <dd><%= @school.ap_student_performance_exam_per_test_taker %></dd>
  <dt><strong>AP Student Performance Exam Pass Rate</strong></dt>
  <dd><%= @school.ap_student_performance_exam_pass_rate %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              schools_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_school_path(@school), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              school_path(@school),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
